/ Control
#controls
  %h2 Controls
  / Previous Button
  - if cur_song.pos.to_i > 0
    %a#previous.controls{:href => "/previous", :data => {remote: 'true'}}
      =image_tag 'control_start_blue.png'
  - else
    =image_tag 'control_start.png'
  / Play/Pause Button
  %a#pause_play.controls{:href => "/pause_play", :data => {remote: 'true'}}
    - if playing
      =image_tag 'control_pause_blue.png'
    - else
      =image_tag "control_play_blue.png"
  / Stop Button
  - if stopped
    =image_tag "control_stop.png"
  - else
    %a#stop.controls{:href => "/stop", :data => {remote: 'true'}}
      =image_tag "control_stop_blue.png"
  / Next Button
  - if cur_song.pos.to_i < (playlist.length - 1)
    %a#next.controls{:href => "/next", :data => {remote: 'true'}}
      =image_tag "control_end_blue.png"
  - else
    =image_tag "control_end.png"
  / Loop Button
  %a#repeat.controls{:href => "/repeat", :data => {remote: 'true'}}
    - if repeat
      =image_tag "control_repeat_blue.png"
    - else
      =image_tag "control_repeat.png"
