%h1 Current Playlist

%a{href: "#current"} Currently Playing

%h3#current_info_header Currently Playing
%ul#current_info
  = render(partial: 'player/songinfo', locals: { cur_song: @player.cur_song })

=yield
/ must yield between partials?

= render(partial: 'player/controls')


#current_playlist
  %h3 Current Playlist
  %table.table.table-striped
    %tr
      %th Album Track
      %th Song
      %th Album
      %th Artist
      %th Duration
      %th
        / Up
      %th
        / Down
      %th
        / Remove
    - @cur_playlist.each do |track|
      - id = @player.cur_song.pos.to_i == track.pos.to_i ? 'nowplaying' : ''
      = render partial: 'tracks/track', locals: {track: track, id: id}
